// Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

// Container max-widths
$container-sm: 480px;
$container-md: 768px;
$container-lg: 1024px;
$container-xl: 1280px;

// Container paddings
$container-padding-sm: 1rem;
$container-padding-md: 2rem;
$container-padding-lg: 3rem;
$container-padding-xl: 3rem;

// Colors (add more as you go)
$primary-color: #3cb271;
$secondary-color: #ff6f00;
$text-color: #000000;
$blue: #007bff;
$green: #3cb271;
$orange: #ff6f00;
$white: #ffffff;
$howItWorksBg: #f8f5f5;
